[submodule "apps/qtcloud-work"]
	path = apps/qtcloud-work
	url = https://github.com/quanttide/qtcloud-work.git
[submodule "packages/quanttide-work-toolkit"]
	path = packages/quanttide-work-toolkit
	url = https://github.com/quanttide/quanttide-work-toolkit.git
[submodule "examples/default"]
	path = examples/default
	url = https://github.com/quanttide/quanttide-laboratory-of-knowledge-work.git
[submodule "docs/bylaw"]
	path = docs/bylaw
	url = https://github.com/quanttide/quanttide-bylaw-of-knowledge-work.git
[submodule "docs/handbook"]
	path = docs/handbook
	url = https://github.com/quanttide/quanttide-handbook-of-knowledge-work.git
[submodule "docs/specification"]
	path = docs/specification
	url = https://github.com/quanttide/quanttide-specification-of-knowledge-work.git
[submodule "docs/tutorial"]
	path = docs/tutorial
	url = https://github.com/quanttide/quanttide-tutorial-of-knowledge-work.git
[submodule "docs/essay"]
	path = docs/essay
	url = https://github.com/quanttide/quanttide-essay-of-knowledge-work.git
[submodule "docs/gallery"]
	path = docs/gallery
	url = https://github.com/quanttide/quanttide-gallery-of-knowledge-work.git
[submodule "data/context"]
	path = data/context
	url = https://github.com/quanttide/quanttide-context-of-knowledge-work.git
[submodule "data/journal"]
	path = data/journal
	url = https://github.com/quanttide/quanttide-journal-of-knowledge-work.git
[submodule "data/profile"]
	path = data/profile
	url = https://github.com/quanttide/quanttide-profile-of-knowledge-work.git
[submodule "data/intention"]
	path = data/intention
	url = https://github.com/quanttide/quanttide-intention-of-knowledge-work.git
[submodule "data/roadmap"]
	path = data/roadmap
	url = https://github.com/quanttide/quanttide-roadmap-of-knowledge-work.git
[submodule "data/insight"]
	path = data/insight
	url = https://github.com/quanttide/quanttide-insight-of-knowledge-work.git
[submodule "data/brochure"]
	path = data/brochure
	url = https://github.com/quanttide/quanttide-brochure-of-knowledge-work.git
[submodule "data/report"]
	path = data/report
	url = https://github.com/quanttide/quanttide-report-of-knowledge-work.git
[submodule "data/library"]
	path = data/library
	url = https://github.com/quanttide/quanttide-library-of-knowledge-work.git
[submodule "data/history"]
	path = data/history
	url = https://github.com/quanttide/quanttide-history-of-knowledge-work.git
[submodule "data/archive"]
	path = data/archive
	url = https://github.com/quanttide/quanttide-archive-of-knowledge-work.git
[submodule "apps/qtcloud"]
	path = apps/qtcloud
	url = https://github.com/quanttide/qtcloud.git
